/* Fuentes. */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');

/* Ajustes Generales. */
* {
   /* Establecemos que todos los elementos de la página no tengan margen y relleno */
   margin: 0;
   padding: 0;
   /* Establecemos que el ancho y alto de los elementos incluyan tanto el contenido como el relleno y el borde del elemento */
   box-sizing: border-box;
}

body,
html {
   width: 100%;
}

/* Barra de Navegación. */

.nav {
   /* Establece el ancho de la barra de navegación en un 100% de la pantalla */
   width: 100%;
   /* Establece la altura de la barra de navegación en 80 píxeles */
   height: 80px;
   /* Establece el color de fondo de la barra de navegación en blanco */
   background: #fff;
   /* Establece una sombra en la barra de navegación */
   box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
   /* Establece la posición fija de la barra de navegación en la parte superior de la página */
   position: fixed;
   top: 0;
   /* Establece el índice de apilamiento de la barra de navegación */
   z-index: 10;
   /* Establece el valor de la propiedad "display" como "flex" para hacer que los elementos internos se ajusten de manera flexible */
   display: flex;
   /* Establece la alineación vertical del contenido en el centro */
   align-items: center;
   justify-content: start;

}

.logo-menu {
   /* Seleccionamos todas las imágenes dentro del contenedor */
   /* Establecemos que el ancho de las imágenes sea de 50 píxeles */
   width: 50px;
   /* Establecemos que la altura de las imágenes sea de 50 píxeles */
   height: 50px;
   /* Este estilo hace que la imagen flote hacia la izquierda del contenedor y tenga un margen derecho de 10 píxeles */
   margin: 10px;
   margin-right: 50%;
}

.enlaces-header {
   display: flex;
   width: 100%;
   justify-content: space-evenly;
   align-items: center;
}

.enlaces-header a {
   /* Seleccionamos todos los elementos 'a' que estén dentro de la clase '.enlases-header' */
   color: rgb(73, 69, 69);
   /* Establece un margen derecho de 20 píxeles entre los elementos a */
   text-decoration: none;
   /* Elimina el subrayado del texto */
   font-size: 18px;
   /* Establece el tamaño de fuente del texto a 18 píxeles */
   font-weight: 300;
   line-height: 20px;
}

/* Cabecera. */

.header {
   margin-top: 80px;
}

.header>h1 {
   text-align: center;
   font-size: 5rem;
   padding-top: 2rem;
   font-family: 'IM Fell English', serif;
}
.header> h2{
   text-align: center;
}

/* Contenido del Documento. */

article {
   clear: both;
}

article img {
   float: left;
  
}

.imagenes {
   margin: 0 0 10px 10px;
}
.text{
   padding-right: 500px;
   
}
#ambur{
   padding-top: 150px;
}
.pollo-pizza{
   height:250px;
   width: 400px;
   margin-right: 20px;
  
   margin-bottom: 50px;
}
main{
   margin-bottom: 100%;
}